h1{
    text-align: center;
    line-height: 15px;
}

body{
    margin: 50px;
    background-image: url(background\ picture\ 2024-04-03\ 100756.jpg);
background-size: cover;
background-attachment: fixed;
color: #0CC0DF;

}

img{
height:200px ;


}





























